@import url('./fonts.css');
@import url('./table.css');

/* global */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: left center;
}

.container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

:root {
  --focus-color: #9873FF;
  --hover-color: #B89EFF;
  --active-color: #8052FF;
  --red-color: #F06A4D;
  --black-color: #000;
  --light-black-color: #333;
  --text-color: #B0B0B0;
  --border-grey-color: #C8C5D1;
  --grey-color: #E7E5EB;
  --light-grey-color: #F5F5F5;
  --white-color: #fff;
}

/* header */
.header__container {
  gap: 53px;
  min-height: 90px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__form {
  align-self: center;
  width: 57%;
}

.header__filter-input {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
}

/* main */
.main__container {
  padding-left: 20px;
  padding-right: 20px;
}

/* Индикатор загрузки */
.loading-indicator {
  display: none;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 36px;
  height: 36px;
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main__btn {
  align-self: center;
  gap: 10px;
  max-width: 216px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 26px;
  font-size: 14px;
  color: var(--focus-color);
  border: 1px solid var(--focus-color);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.main__btn:focus {
  border: 1px solid var(--focus-color);
  color: var(--focus-color);
}

.main__btn:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

.main__btn:active {
  border: 1px solid var(--active-color);
  color: var(--active-color);
}

.btn-icon {
  align-self: center;
  width: 22px;
  height: 16px;
}
